{% extends "catalog/base.html" %}


{% block content %}
    <div class="pet_list">
  <h1>Adoptable Pets</h1>
  {% if pet_list %}
  <ul>
    {% for pet in pet_list %}
        <a href="{{ pet.get_absolute_url }}">{{ pet.name }}</a>({{pet.breed}})
         {% if pet.pet_image %}
          <img src="{{ pet.pet_image.url }}" alt="{{ pet.name }} Image" class = "pet-image">
        {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>Additional Information.</p>
  {% endif %}
    </div>
    <style>
.pet-image {
  margin: 40px; 
}
</style>
{% endblock %}

